@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SEGOEUI.TTF");
}

@font-face {
  font-family: "Segoe Print";
  src: url("../fonts/segoepr.ttf");
}

@import url("https://fonts.googleapis.com/css?family=Roboto");

header {
  font-family: "Segoe UI";
  font-size: 1.75rem;
  text-align: center;
  background: #383737;
}

header > p {
  margin: 0;
  padding: 1rem;
  color: white;
}

body {
  margin: 0;
}

.container {
  margin: 1.75rem;
}

.label-text {
  font-family: "Roboto";
  font-size: 1.5rem;
  color: #c5c5c5;
}

textarea {
  width: 100%;
  height: 10rem;
  border-radius: 2px;
  resize: none;
}

.container .tip {
  font-family: "Segoe Print";
  color: #575656;
  text-align: center;
  font-size: 1.1rem;
  margin-top: 2rem;
  position: relative;
}

.arrow {
  margin-left: 8rem;
  height: 20rem;
}

.fas {
  position: fixed;
  font-size: 3rem;
  bottom: 1.5rem;
  right: 1.5rem;
}
